---
import Format from '../components/GeneralPage.astro';
import FooterSimple from '../layouts/footer.astro';
import HeaderSimple from '../layouts/Header.astro';
---
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="global.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<HeaderSimple></HeaderSimple>
<Format image="Guernica.jpg">
    <p>Picasso's painting is a graphic testimony to the brutality of war and has become a universal symbol of violence and injustice. Through his cubist style and the use of angular and distorted forms, Picasso manages to convey the dehumanization and chaos that result from armed conflicts.</p>
    <p>"Guernica" presents a palette of dark and somber colors, dominated by white, black, and shades of gray. The composition is organized around a powerful and heartbreaking central scene, where human and animal figures suffer and twist amid the chaos. Among the prominent elements are a dying horse, a mother holding her dead child, and a man with his arms raised in a sign of anguish.</p>
    <p>This masterpiece by Picasso transcends specific historical circumstances and has become a universal symbol of the horrors of war and the struggle for peace. "Guernica" has inspired generations of artists and has left a profound mark on the world of art and collective consciousness.</p>
    <p>Through its vivid and poignant representation of tragedy and human suffering, "Guernica" remains a striking reminder of the destructive consequences of war and a call for reflection and action to prevent violence and seek harmony in our world.</p>
</Format>
<FooterSimple></FooterSimple>
