---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import FooterSimple from '../layouts/footer.astro';
import Header from '../layouts/Header.astro';
---
<!DOCTYPE html>
<head>
    <meta charset="UTF-8"/>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<Header></Header>
<Layout title="Welcome to Final_project.">
	<main>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://www.branqueasociacioncultural.com/arte-comunitario-como-transformacion-social/"
				title="About us"
				body="We are a community dedicated to art in all its forms: painting, sculpture, music, dance and more. Our page has been created with the aim of being a virtual space to share and appreciate art.."
			/>
			<Card
				href="https://www.pinturillo2.com/"
				title="Our purpose"
				body="We take pride in promoting creativity and artistic expression. Through our platform, we hope to provide a place of inspiration, exchange of ideas, and support for emerging and established artists."
			/>
			<Card
				href="https://www.museodelprado.es/"
				title="Explore the art"
				body="Discover unique works of art, read interviews with featured artists, enter contests and virtual exhibitions, and find cultural events near you. Art is at your fingertips!"
			/>
		</ul>
	</main>
</Layout>
<FooterSimple></FooterSimple>

