---
import HeaderSimple from '../layouts/Header.astro';
import Format from '../components/GeneralPage.astro';
import FooterSimple from '../layouts/footer.astro';
---
<head>
    <meta charset="UTF-8"/>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<HeaderSimple></HeaderSimple>
<Format image="MonaLisa.jpg" onclick="expandImage()">
    <p>The painting depicts the portrait of a young woman with an enigmatic gaze, believed to be Lisa Gherardini, a Florentine woman of the time. The Mona Lisa is presented in a half-body format, with the woman's figure gently turning towards the viewer. Her facial expression, with a subtle smile and a penetrating gaze, has generated fascination and speculation throughout the centuries.</p>
    <p>The technique used by da Vinci in this work is exceptional. The painting is characterized by its delicate use of light and shadow, known as sfumato, which creates a smooth transition between tones and provides a sense of depth and realism. Furthermore, the richness of the details, such as the folds of the clothing and the meticulousness of the background landscapes, demonstrate da Vinci's mastery as an artist.</p>
    <p>The Mona Lisa has been the subject of numerous analyses and debates throughout the centuries. The enigmatic smile of the figure and the captivating gaze have intrigued historians, art critics, and admirers alike. Additionally, the balanced composition and the aura of mystery surrounding the painting have contributed to its status as an art icon and a symbol of beauty and perfection.</p>
    <p>Today, the Mona Lisa is displayed in the Louvre Museum in Paris, France, and continues to attract millions of visitors each year. Its influence on art and culture is undeniable, and its uniqueness and magnetism continue to fascinate generations of people around the world.</p>
</Format>
<FooterSimple></FooterSimple>
