---
import HeaderSimple from '../layouts/Header.astro';
import Format from '../components/GeneralPage.astro';
import FooterSimple from '../layouts/footer.astro';
---
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="global.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<HeaderSimple></HeaderSimple>
<Format image="NitEstrella.jpg">
    <p>In the painting, the sky unfolds in a whirlwind of deep blue tones, dotted with golden and bright stars. The stars seem to dance and spin in the firmament, creating a sense of movement and vitality. The radiant moon, with its intense yellow hue, casts a soft and mysterious light over the landscape.</p>
    <p>The sleeping village is shown in the foreground, with its houses and buildings painted in dark and swirling tones. Van Gogh's energetic and expressive brushstrokes create a sense of movement and life even in static objects. The tall, dark cypresses rise on the horizon, adding a touch of drama and enigma to the scene.</p>
    <p>"The Starry Night" is a testament to Van Gogh's distinctive style, characterized by bold use of color and expressive brushwork. Through his work, the artist sought to convey emotions and capture the essence of nature and the world around him.</p>
    <p>This painting has made a profound impression on the history of art and continues to be admired and studied today. Its unique portrayal of the beauty of the night and the connection between the sky and the earth has captivated viewers worldwide, making it one of the most recognized and beloved works of all time.</p>
</Format>
<FooterSimple></FooterSimple>