<footer>
  <div class="container">
    <p style="color: black; text-decoration: none;">© 2023 My Website, created by David Tosca. All rights reserved.</p>
    <div class="social-media">
      <a href="https://www.facebook.com" target="_blank" style="color: black; text-decoration: none;"><img src="Facebook.png" alt="Facebook">Facebook</a>
      <a href="https://www.twitter.com" target="_blank" style="color: black; text-decoration: none;"><img src="Twitter.png" alt="Twitter">Twitter</a>
      <a href="https://www.instagram.com" target="_blank" style="color: black; text-decoration: none;"><img src="Instagram.png" alt="Instagram">Instagram</a>
    </div>
  </div>
</footer>
<style>
  footer {
    background-color: rgba(29, 0, 110, 0.3);
    border: 2px solid black;
    padding: 1px 0;
    text-align: center;
    margin: 20px;
  }
.container {
max-width: 1200px;
margin: 0 auto;
}

.social-media {
margin-top: 10px;
}

.social-media img {
width: 30px;
height: 30px;
margin: 0 5px;
}
</style>