
  <header>
    <h1>Welcome to <span class="text-gradient">Final_project</span></h1>
    <h1>Exploring <span style="color:BLUE;">Art</span>: An Exhibition of Three <spans style="color:Brown">Masters</span></h1>
    <nav>
      <ul>
        <li><a href="/">Who we are?</a></li>
        <li><a href="LaMonaLisa">The Mona Lisa</a></li>
        <li><a href="LaNocheEstrellada">The Starry Night</a></li>
        <li><a href="Guernica">Guernica</a></li>
        <li><a href="Todolist">What to Do in a Museum?</a></li>
      </ul>
    </nav>
  </header>
