<head>
  <meta charset="UTF-8"/>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
  <link rel="stylesheet" href="global.css">
  <header>
    <h1>Welcome to <span class="text-gradient"> Final_project</span></h1>
    <h1>Exploring <span style="color:BLUE;">Art</span>: An Exhibition of Three <spans style="color:Brown">Masters</span></h1>
    <nav>
      <ul>
        <li><a href="/">Who we are?</a></li>
        <li><a href="LaMonaLisa">The Mona Lisa</a></li>
        <li><a href="LaNocheEstrellada">The Starry Night</a></li>
        <li><a href="Guernica">Guernica</a></li>
        <li><a href="Todolist">What to Do in a Museum?</a></li>
      </ul>
    </nav>
  </header>
</body>
</html>
<style>
    header {
      background-color: rgba(252, 247, 247, 0.7);
      border: 2px solid black;
      padding: 20px;
      text-align: center;
      margin: 10px;
    }

    nav {
      margin-bottom: 20px;
    }

    nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
    }
    
    nav ul li {
      margin-right: 10px;
    }
    body {
  font-family: 'Lobster', cursive;
  font-size: 24px;
}
    nav ul li a {
      text-decoration: none;
      color: #333;
      padding: 5px 10px;
      border-radius: 5px;
    }

    nav ul li a:hover {
      background-color: #cfcbcb;
      color: #fff;
    }
  </style>